*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
	font-family: sans-serif;
	
}
/*navbar*/
header{
	position: fixed;
	top: 0;
	left:0;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	transition: 0.6s;
	padding: 40px 100px;
	z-index: 1000000;
	}

header.sticky{
	padding: 0px 100px;
	background-color: rgb(3, 3, 70);
}
header .logo {
	position:relative;
	font-weight: 600;
	color: #fff;
	text-decoration: none;
	font-size: 1em;
	text-transform: uppercase;
	letter-spacing: 2px;
	transition: 0.6s;
}

header ul{
	justify-content: center;
	align-items: center;
}

header ul li{
	position:relative;
	list-style:none;
}

header ul li a {
	position:relative;
	margin: 0 15px;
	margin-bottom: 10px;
	text-decoration: none;
	color: white;
	letter-spacing: 2px;
	font-weight: 500px;
	transition: 0.6s;
}

header.sticky .logo,
header.sticky ul li a {
	color: whitesmoke;
}

/*about*/
.pol{
 margin-top: 17vh;
}

.pol2{
	margin-top: 25vh;
   }

.h1skill{
	font-family: 'Bangers', cursive;
}

h2{
	font-family: 'Bangers', cursive;
	font-size: 5vh;
}

h4{
	font-size: 2.5vh;
}

.iconify { 
	color: yellow; 
}

/*start of header*/
#header {
	background-image: url(./../images/bground.gif);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	min-height: 100vh;
	
}

#header h1 {
	color: #fff;
}

#header .btn {
	color: #fff;
}
.container span {
	display:block;
}
#intro1{
	color:white;
	font-weight: 700;
	font-size: 100px;
	letter-spacing: 8px;
	margin-bottom: 20px;
	position: relative;
	animation: text 3s 1;
	
}

#intro2{
	font-size: 30px;
	color: #6ab04c;
	letter-spacing: 20px;
	animation: text 3s 1;
}

@keyframes text{
	0%{
		color:black;
		margin-bottom: -40px;

	}
	30%{
		letter-spacing: 20px;
		margin-bottom: -40px;
	}
	85%{
		letter-spacing: 8px;
		margin-bottom: -40px;
	}

}
/*end of header*/

.image-container img {
	object-fit: cover;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	margin: auto;
	display: block;
}


body{
	background-color: rgb(0, 0, 39);
	color:white;
}

/*start of about*/
#about {
	height: 100vh;	
}
#pabout{
font-family: 'Open Sans', sans-serif;
}
#about img {
	height: 10rem;
	width: auto;
}
/*end of about*/

/*start of project*/
#project {
	min-height: 100vh;
}

#project img {
	height: 20rem;
}
/*end of project*/

/*start of skills*/
#skills {
	height: 100vh; 
}

#skills img {
	height: 6rem;
	width: auto;
}
/*end of skills*/

/*start of get in touch*/
#get-in-touch {
	min-height: 30vh;

}

#get-in-touch .fas {
	font-size: 2rem;
}
/*end of get in touch*/

/*start of footer*/
#footer {
	background-color: rgb(3, 3, 70);
	color: white;
	height: 15vh;
}

#footerfont{
	font-size: 2.5vh;
}
/*end of footer*/


/*start of media query*/

/* start of mobile size*/
@media only screen and (min-width: 320px) and (max-width: 767px){
#intro1{
	font-weight: 100;
	font-size: 5vh;
}

#intro2{
	font-weight: 50;
	font-size: 2vh;
}

header {
	padding: 20px 0px;
}

header.sticky{
	padding: 5px 0px;
}

#about{
	margin-bottom: 100px;
}

#skills{
	min-height: 100vh;
}

#get-in-touch{
	margin-top: 80vh;
}

}

@media only screen and (min-width: 768px) and (max-width: 1023px){
	#intro1{
		font-weight: 700;
		font-size: 50px;
	}
	#intro2{
		font-weight: 500;
		font-size: 40px;
	}
	
	header {
		padding: 20px 10px;
	}
	
	header.sticky{
		padding: 5px 10px;
	}
	
	#about{
		margin-bottom: 100px;
	}
	
	#skills{
		margin-top: 20vh;
	}
	
	#get-in-touch{
		margin-top: 20vh;
	}
	
	}


@media all and (max-width: 500px) {
	#project img {
		height: 8rem;
		width: auto;
	}

	#skills img {
		height: 5rem;
		width: auto;
	}
}



/* end of mobile size*/





/*end of media query*/
